* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

/* Banner Section Style  */

.banner-container {
    height: 90vh;
    position: relative;
    background-image: url("images/donation7.jpg");
    background-size: cover;
    
}

.banner-text {
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-title {
    font-size: 70px;
    line-height: 79px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px gray;
}

.banner-para {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}

.banner-button a {
    text-decoration: none;
    color: white;
}

.banner-button {
    padding: 16px 20px;
    font-size: 20px;
    font-weight: bold;
    background: #FF5959;
    border-radius: 5px;
    border: none;
}

/* Donate Section Style  */

.donate-container {
    width: 80%;
    margin: 130px auto;
}

.donate-container h1 {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px gray;
}

.donate-para {
    font-size: 18px;
    text-align: center;
    color: #707070;
    margin-bottom: 90px;
}

.donate-amount {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.amount-button {
    font-size: 30px;
    font-weight: bold;
    color: #707070;
    border: none;
}

.one-amount {
    font-size: 30px;
    font-weight: bold;
    color: #FF5959;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    width: 136px;
    height: 123px;
}

.other-title {
    text-align: center;
    font-size: 18px;
    color: #B3B3B3;
    margin-bottom: 10px;
}

.empty-div {
    border: 1px solid #DADADA;
    width: 80%;
    margin: 0 auto;
}

.donate-button {
    padding: 16px 20px;
    font-size: 20px;
    font-weight: bold;
    background: #FF5959;
    color: white;
    border-radius: 5px;
    border: none;
    display: block;
    margin: 40px auto;
}

/* Donate Plan Section Style */
.donate-plan-container {
    width: 80%;
    margin: 130px auto;
}

.donate-plan-container h1 {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px gray;
}

.plan-para {
    font-size: 18px;
    text-align: center;
    color: #707070;
    margin-bottom: 90px;
}

.donate-plan {
    display: flex;
    justify-content: space-around;
}

.food-container {
    width: 400px;
    height: 400px;
    background: rgba(7, 164, 182, 0.1);
    border-radius: 5px;
    padding: 65px 20px;
    text-align: justify;
}

.food-container img {
    width: 58px;
    height: 50px;
    margin-bottom: 30px;
}

.shelter-container{
    width: 400px;
    height: 400px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    padding: 65px 20px;
    text-align: justify;
}

.shelter-container img {
    width: 58px;
    height: 50px;
    margin-bottom: 30px;
}

.education-container {
    width: 400px;
    height: 400px;
    background: rgba(219, 198, 8, 0.1);
    border-radius: 5px;
    padding: 65px 20px;
    text-align: justify;
}

.education-container img {
    width: 58px;
    height: 50px;
    margin-bottom: 30px;
}

.donate-plan h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.donate-plan p {
    font-size: 18px;
    color: #707070;
}

/* Update Section Style  */
.update-container {
    width: 50%;
    margin: 0 auto;
}

.update-container h1 {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px gray;
}

.update-container p {
    font-size: 18px;
    text-align: center;
    color: #707070;
    margin-bottom: 50px;
}

.subscribe {
    background: #FFF4D6;
    height: 200px;
    border-radius: 5px;
}

.sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-input {
    width: 270px;
    height: 50px;
    padding-left: 20px;
    border: none;
    font-size: 18px;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    margin-top: 75px;
}

.sub-button {
    width: 100px;
    height: 50px;
    background: #FF5959;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 0px 5px 5px 0px;
    margin-top: 75px;
}

/* News Section Style  */
.news-continer {
    width: 80%;
    margin: 130px auto;
}

.news-continer h1 {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px gray;
}

.news-continer p {
    font-size: 18px;
    text-align: center;
    color: #707070;
    margin-bottom: 50px;
}

.reporter {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.reporter button {
    cursor: pointer;
    font-size: 13px;
}

.first-news {
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    border-radius: 5px;
    height: 450px;
}

.first-news h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.one img {
    width: 400px;
}

.two img {
    width: 400px;
}

.three img {
    width: 400px;
}

.new-reporter {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.news-rep {
    display: flex;
    align-items: center;
}

.new-reporter img {
    border-radius: 50%;
    margin-right: 10px;
}

/* Team Member Section Style  */
.team-container {
    width: 80%;
    margin: 130px auto;
}

.team-container h2 {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px gray;
}

.team-div {
    border: 1px solid #FF5959;
    width: 10%;
    margin: 0 auto;
}

.member-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.first-person img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.second-person img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.third-person img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.member-section h2 {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.member-section p {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    color: #FF5959;
}

